-- Emergency fix: Temporarily disable RLS on files table for testing
-- This allows file uploads to work while we debug the RLS policies

-- Disable RLS temporarily
ALTER TABLE files DISABLE ROW LEVEL SECURITY;

-- Add a simple policy that allows all authenticated users to do everything
-- This is temporary and should be made more restrictive later
ALTER TABLE files ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Temporary:
Allow
all
authenticated
operations\ ON files
FOR ALL USING (auth.role() = 'authenticated');

-- Also allow public inserts for token-based uploads
CREATE POLICY \Temporary:
Allow
public
inserts\ ON files
FOR INSERT WITH CHECK (true);
