-- Fix files table schema to match expected columns
-- This migration ensures the files table has all required columns

-- Add missing columns to files table
ALTER TABLE files 
ADD COLUMN IF NOT EXISTS file_path TEXT;

ALTER TABLE files 
ADD COLUMN IF NOT EXISTS file_size BIGINT;

ALTER TABLE files 
ADD COLUMN IF NOT EXISTS file_type TEXT;

ALTER TABLE files 
ADD COLUMN IF NOT EXISTS request_id UUID REFERENCES requests(id) ON DELETE CASCADE;

ALTER TABLE files 
ADD COLUMN IF NOT EXISTS origin TEXT CHECK (origin IN ('request_attachment','item_upload')) DEFAULT 'item_upload';

ALTER TABLE files 
ADD COLUMN IF NOT EXISTS tag TEXT DEFAULT 'document';

ALTER TABLE files 
ADD COLUMN IF NOT EXISTS content_type TEXT;

-- Make request_item_id nullable if it isn't already
ALTER TABLE files 
ALTER COLUMN request_item_id DROP NOT NULL;

-- Update existing files to have proper values
UPDATE files 
SET origin = 'item_upload', 
    tag = 'document',
    file_type = COALESCE(file_type, 'application/octet-stream'),
    content_type = COALESCE(content_type, file_type)
WHERE origin IS NULL OR tag IS NULL;

-- Add indexes for better performance
CREATE INDEX IF NOT EXISTS idx_files_request_id ON files(request_id);
CREATE INDEX IF NOT EXISTS idx_files_request_item_id ON files(request_item_id);
CREATE INDEX IF NOT EXISTS idx_files_origin ON files(origin);

-- Add RLS policies for the new columns
-- Allow managers to read files for their properties
CREATE POLICY IF NOT EXISTS \
Managers
can
read
files
for
their
properties\ ON files
FOR SELECT USING (
  EXISTS (
    SELECT 1 FROM requests r
    JOIN properties p ON r.property_id = p.id
    JOIN property_users pu ON p.id = pu.property_id
    WHERE (files.request_id = r.id OR files.request_item_id IN (
      SELECT id FROM request_items WHERE request_id = r.id
    ))
    AND pu.user_id = auth.uid()
  )
);

-- Allow managers to insert files for their properties
CREATE POLICY IF NOT EXISTS \Managers
can
insert
files
for
their
properties\ ON files
FOR INSERT WITH CHECK (
  EXISTS (
    SELECT 1 FROM requests r
    JOIN properties p ON r.property_id = p.id
    JOIN property_users pu ON p.id = pu.property_id
    WHERE (files.request_id = r.id OR files.request_item_id IN (
      SELECT id FROM request_items WHERE request_id = r.id
    ))
    AND pu.user_id = auth.uid()
  )
);

-- Allow managers to delete files for their properties
CREATE POLICY IF NOT EXISTS \Managers
can
delete
files
for
their
properties\ ON files
FOR DELETE USING (
  EXISTS (
    SELECT 1 FROM requests r
    JOIN properties p ON r.property_id = p.id
    JOIN property_users pu ON p.id = pu.property_id
    WHERE (files.request_id = r.id OR files.request_item_id IN (
      SELECT id FROM request_items WHERE request_id = r.id
    ))
    AND pu.user_id = auth.uid()
  )
);

-- Add comments for documentation
COMMENT ON COLUMN files.request_id IS 'Direct link to request (for manager attachments)';
COMMENT ON COLUMN files.request_item_id IS 'Link to request item (for recipient uploads)';
COMMENT ON COLUMN files.origin IS 'Source of file: request_attachment or item_upload';
COMMENT ON COLUMN files.tag IS 'File tag for organization';
COMMENT ON COLUMN files.file_size IS 'File size in bytes';
COMMENT ON COLUMN files.content_type IS 'MIME type of the file';
COMMENT ON COLUMN files.file_path IS 'Path to file in storage bucket';
