-- Fix RLS policies for files table to allow file uploads
-- Drop existing restrictive policies
DROP POLICY IF EXISTS \
Managers
can
read
files
for
their
properties\ ON files;
DROP POLICY IF EXISTS \Managers
can
insert
files
for
their
properties\ ON files;
DROP POLICY IF EXISTS \Managers
can
delete
files
for
their
properties\ ON files;

-- Create more permissive policies for authenticated users
-- Allow authenticated users to insert files (for uploads)
CREATE POLICY \Authenticated
users
can
insert
files\ ON files
FOR INSERT WITH CHECK (auth.role() = 'authenticated');

-- Allow authenticated users to read files they have access to
CREATE POLICY \Authenticated
users
can
read
accessible
files\ ON files
FOR SELECT USING (
  auth.role() = 'authenticated' AND (
    -- Files linked to requests they manage
    EXISTS (
      SELECT 1 FROM requests r
      JOIN properties p ON r.property_id = p.id
      JOIN property_users pu ON p.id = pu.property_id
      WHERE (files.request_id = r.id OR files.request_item_id IN (
        SELECT id FROM request_items WHERE request_id = r.id
      ))
      AND pu.user_id = auth.uid()
    )
    -- OR files they uploaded themselves
    OR files.uploaded_by = auth.uid()
  )
);

-- Allow authenticated users to delete files they uploaded or manage
CREATE POLICY \Authenticated
users
can
delete
accessible
files\ ON files
FOR DELETE USING (
  auth.role() = 'authenticated' AND (
    -- Files they uploaded themselves
    files.uploaded_by = auth.uid()
    -- OR files linked to requests they manage
    OR EXISTS (
      SELECT 1 FROM requests r
      JOIN properties p ON r.property_id = p.id
      JOIN property_users pu ON p.id = pu.property_id
      WHERE (files.request_id = r.id OR files.request_item_id IN (
        SELECT id FROM request_items WHERE request_id = r.id
      ))
      AND pu.user_id = auth.uid()
    )
  )
);

-- Allow public access for file uploads via tokens (for recipients)
CREATE POLICY \Public
can
insert
files
via
tokens\ ON files
FOR INSERT WITH CHECK (
  -- Allow if request_item_id exists and the request is active
  files.request_item_id IS NOT NULL AND
  EXISTS (
    SELECT 1 FROM request_items ri
    JOIN requests r ON ri.request_id = r.id
    WHERE ri.id = files.request_item_id
    AND r.archived_at IS NULL
  )
);
